.FooterContainer {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

.FooterContainer .FooterList {
    color: #a9a9a9;
}

.FooterContainer .FooterList div {
    font-size: 14px;
    line-height: 21px;
    color: #e0e0e0;
    letter-spacing: -0.34px;
    font-family: 'SF UI Text';
    font-weight: bold;
    margin-bottom: 20px;
    white-space: nowrap;
}

.FooterContainer .FooterList ul {
    list-style: none;
}

.FooterContainer .FooterList li {
    list-style: none;
}

.FooterContainer .FooterList ul li a {
    font-family: 'SF UI Text';
    font-size: 13px;
    color: #a9a9a9;
    font-weight: 400;
    letter-spacing: -0.34px;
    line-height: 21px;
}